@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html{
  box-sixing: border-box;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Fira Mono', monospace;
  color: firebrick;
  font-size: calc(6px + 1vmin);
}

.container{
  max-width: 480px;
  margin: 0 auto;
  padding: 0 10px;
}

h1{
  font-weight: normal;
}

form{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
}

form div{
  width: 34%;
  display: flex;
  flex-direction: column;
}

label{
  font-size: 0.9em;
}

input{
  background-color: black;
  font-family: 'Fira Mono', monospace;
  color: firebrick;
  border: none;
  outline: none;
  border-bottom: 1px solid darkred;
  line-height: 2em;
  padding-top: 7px;
}

input[type="submit"]{
  border: 1px solid darkred;
  text-transform: uppercase;
  width: 75px;
  padding: 0;
  line-height: 2em;
}

input:hover, input:active, input:focus{
  cursor: pointer;
  border-color: firebrick;
  border-width: 1.4px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

tr{
  border-bottom: 1px solid darkred;
}

tr:last-child{
  border-bottom: none;
}

th, td{
  line-height: 2.3em;
  text-align: left;
  font-weight: normal;
}

th{
  font-size: 1.3em;
}

.down{
  opacity: 0.6;
}

p{
  margin-top: 2em;
}

footer{
  font-size: 0.8em;
}